/*스투스뜨*/

*:focus { outline:none; }
*{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-decoration: none;
}
#indexone{
	background: #1d2760;
}
#indextwo{
	background: #1d2760;
}
#index-game-one{
	background: #c61c4d;
}
#index-game-two{
	background: #e8bd0a;
}
#index-game-three{
	background: #24aa90;
}

#qicon{
	cursor: pointer;
}
.full-backgorund{
	position: absolute;
	height: 100%;
	z-index: 10;
	animation: back 1s forwards;
	animation-delay: 1.8s;
	visibility: visible;
}
@keyframes back {
  from{opacity: 1;}
  to{opacity: 0.0; visibility: hidden;}
}

.head-left-icons{
	position: absolute;
	left: 10px;
	top: 10px;
}
.head-right-icons{
	position: absolute;
	right: 10px;
	top: 10px;
}
.pageboxes{
	position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 650px;
    width: 1155px;
    border: 10px solid white;
    border-radius: 10px;
    box-sizing: content-box;
}

/*아이콘(상단) 이미지*/
.icon-tops{
	height: 80px;
}
.icon-tops:hover{
	opacity: 0.8;
}


/* 메이이이이인 페이지 --- 메이이이인 */
#indexx{
	position: absolute;
	background-image: url(./main/img1/background-index.png);
    background-size: cover;
}

.section-index-start{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 53%;
	left: 50%;
	height: 30px;
	display: none;
}
.section-index-star{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 40%;
	left: 50%;
	height: 60px;
}
#star-icon{
	background: pink;
	height: 100px;
	width: 100px;
}
.section-index-star-shine{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 40%;
	left: 50%;
	height: 240px;
	z-index: -1;
	animation: ro 1s infinite linear alternate;
}

@keyframes ro {
  from{opacity: 1;}to{opacity: 0.4;}}



 /*캐릭터,,, 그림자자자자*/
.section-index-ju-shadow{
	width: 10%;
	position: absolute;
	bottom: 35px;
	left: 5%;
}
.section-index-pa-shadow{
	width: 9%;
	position: absolute;
	bottom: 25px;
	left: 15%;
}
.section-index-th-one-shadow{
	width: 6%;
	position: absolute;
	right: 19%;
	bottom: 40px;
}
.section-index-th-two-shadow{
	width: 6%;
	position: absolute;
	right: 12%;
	bottom: 45px;
}
.section-index-th-three-shadow{
	width: 6%;
	position: absolute;
	right: 5%;
	bottom: 40px;
}
#star-icon:hover + .section-index-start{
	display: block;
}

.section-index-game:hover{
	opacity: 0.8;
}
     /*게임클리리이잉*/
#games{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 36%;
  left: 50%;
}
#games-two{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 58%;
  left: 50%;
}

.index-leftpadding{
  padding-left: 5px;
}


.section-index-game{
	width: 125px;
}

		/*인덱스투투투투투투우-텍스트,ㅇㅇ,응*/
.section-index-ju-text{
	position: absolute;
	width: 175px;
	bottom: 35%;
	left: 4%;
	display: none;
}
.section-index-pa-text{
	position: absolute;
	width: 175px;
	bottom: 18%;
	left: 14%;
	display: none;
}
.section-index-th-text{
	position: absolute;
	width: 175px;
	bottom: 19%;
	right: 7%;
	opacity: 1;
	display: none;
}

.q-wrap{
	width: 52%;
    height: 38%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
}
.indextwo-q{
	width: 100%;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}
.indextwo-q-x{
	height: 55px;
	position: absolute;
	top: 7%;
	right: 4.5%;
	cursor: pointer;
}
.indextwo-q-x:hover{
	opacity: 0.8;
}
#qwrap{
	visibility: hidden;
	font-family: 'CookieRunOTF-Bold';
	position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 45%;
}

/* 게임111 페이지 --- 숫자세기 */
.numwrapli{
  font-family: 'Binggrae';
  font-size: 5em;
  font-weight: bold;
}
.numwrapli div{
  float: left;
  margin-left: 48px;
}
#pageone{
	position: absolute;
	background-image: url(./game1/background-one.png);
    background-size: cover;
}

#game-one-bottom{
	position: absolute;
	bottom: 0;
	border-top: solid 5px white;
	height: 90px;
	width: 100%;
	background: #cfd1b0;
	overflow-x: hidden;
    white-space: nowrap;
}



.numes{
	height: 55px;
	margin-left: 50px;
	cursor: pointer;
	opacity: 1;
}

.numeslast{
	height: 55px;
	margin-right: 50px;
}

.num-reds{
	height: 75px;
	display: none;
}

/*숫자 위치설정*/
#numred0{
	position: absolute;
	top: 57%;
	left: 12%;
}
#numred1{
	position: absolute;
	top: 54%;
	left: 19%;
}
#numred2{
	position: absolute;
	top: 57%;
	left: 26%;
}
#numred3{
	position: absolute;
	top: 52%;
	left: 32%;
}
#numred4{
	position: absolute;
	top: 49%;
	left: 39%;
}
#numred5{
	position: absolute;
	top: 53%;
	left: 46%;
}
#numred6{
	position: absolute;
	top: 50%;
	left: 53%;
}
#numred7{
	position: absolute;
	top: 49%;
	left: 59%;
}
#numred8{
	position: absolute;
	top: 52%;
	left: 65%;
}
#numred9{
	position: absolute;
	top: 48%;
	left: 72%;
}
#numred10{
	position: absolute;
	top: 53%;
	left: 79%;
}


/**/
#numr11{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 15%;
  display: none;
}
#numr12{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 58%;
  left: 19%;
  display: none;
}
#numr13{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 63%;
  left: 26%;
  display: none;
}
#numr14{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 68%;
  left: 35%;
  display: none;
}
#numr15{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 67%;
  left: 45%;
  display: none;
}
#numr16{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 57%;
  left: 52%;
  display: none;
}
#numr17{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 53%;
  left: 61%;
  display: none;
}
#numr18{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 57%;
  left: 69%;
  display: none;
}
#numr19{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 67%;
  left: 76%;
  display: none;
}
#numr20{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 56%;
  left: 82%;
  display: none;
}

/**/
#numrr10{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 15%;
  display: none;
}
#numrr20{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 20%;
  display: none;
}
#numr30{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 30%;
  display: none;
}
#numr40{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 40%;
  display: none;
}
#numr50{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 45%;
  display: none;
}
#numr60{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 55%;
  display: none;
}
#numr70{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 60%;
  display: none;
}
#numr80{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 70%;
  display: none;
}
#numr90{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 75%;
  display: none;
}
#numr100{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 69%;
  left: 80%;
  display: none;
}



#goodimg{
	position: absolute;
    transform: translate(-50%,0%);
    top: 4%;
    left: 50%;
    height: 33%;
    opacity: 0;
}
#goodimg2{
  position: absolute;
    transform: translate(-50%,0%);
    top: 4%;
    left: 50%;
    height: 33%;
    opacity: 0;
}




.icon-bottom-left{
	position: absolute;
	transform: translate(0%,-50%);
	left: 10px;
	top: 50%;
	height: 80px;
}
.icon-bottom-right{
	position: absolute;
	transform: translate(0%,-50%);
	right: 10px;
	top: 50%;
	height: 80px;
}
.copy-two{
	visibility: hidden;
}
.gameone-one-th{
	position: absolute;
	transform: translate(0%,-50%);
	right: 5%;
	top: 66%;
	width: 60px;
}
.gameone-two-th{
	position: absolute;
	transform: translate(0%,-50%);
	right: 15%;
	top: 75%;
	width: 60px;
}
.gameone-three-th{
	position: absolute;
	transform: translate(0%,-50%);
	left: 5%;
	top: 66%;
	width: 60px;
}
.gameone-text{
	position: absolute;
	transform: translate(0%,-50%);
	right: 4.5%;
	top: 57%;
	width: 60px;
	visibility: visible;
	cursor: pointer;
}
.gameone-textes{
	position: absolute;
	transform: translate(0%,-50%);
	right: 2%;
	top: 54%;
	width: 120px;
	visibility: hidden;
	cursor: pointer;
}




/* 게임2222 페이지 --- 계산 */
#pagetwo{
	position: absolute;
	background-image: url(./game2/background-two.png);
    background-size: cover;
}
#gametwo-wrap{
	height: 280px;
    width: 600px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    text-align: center;
}
.gametwo-box{
	position: absolute;
    width: 55%;
    transform: translate(-50%,-50%);
    top: 52%;
    left: 50%;
}
.gametwo-pa{
	position: absolute;
    bottom: 10%;
    left: 5%;
    width: 9%;
}
.gametwo-text{
	position: absolute;
    bottom: 26%;
    left: 6.5%;
    width: 60px;
    cursor: pointer;
}
.gametwo-textes{
	position: absolute;
    bottom: 26%;
    left: 3%;
    width: 150px;
   	visibility: hidden;
   	cursor: pointer;
}


#lasticon{
  position: absolute;
      transform: translate(-50%,-50%);
      top: 65%;
      right: 1%;
      z-index: 1;
}

 /*게임 222-덧셈 코드*/
 	.nextb11{
 		font-family: 'CookieRunOTF-Bold';
 		padding: 2px 15px 2px 15px;
 		background: #ffa500;
 		position: absolute;
   		transform: translate(-50%,-50%);
    	top: 66%;
    	left: 50%;
    	font-size: 2.5em;
 		z-index: 10;
 		text-decoration: none;
   	 	border: 5px solid black;
    	border-radius: 10px;
    	cursor: pointer;
 	}

 	#buttontwost{
 			box-shadow: 5px 8px 16px -5px grey;
 		font-family: 'CookieRunOTF-Bold';
 		padding: 2px 15px 2px 15px;
 		
 		position: absolute;
 		transform: translate(-50%,-50%);
 		top: 52%;
 		left: 50%;
 		font-size: 3.5em;
 		z-index: 10;
 		cursor: pointer;
 		border: 5px solid black;
    	border-radius: 10px;
 	}
 
 	.twogame-wrap{
    	position: absolute;
    	transform: translate(-50%,-50%);
    	top: 52%;
    	left: 50%;
    	height: 68%;
    	width: 46%;
 	}

 	.nextstage-gametwo{
 		position: absolute;
 		transform: translate(-50%,-50%);
 		top: 64%;
 		left: 50%;
 		text-decoration: none;
 		z-index: 1;

 		padding: 2px 15px 2px 15px;
 		font-size: 2.5em;
    	cursor: pointer;
    	border: 5px solid black;
    	border-radius: 10px;
    	font-family: 'CookieRunOTF-Bold';
 	}

      h1 {
          font-size: 40px;
          letter-spacing: 5px;
      }

      .twogame-wrap h3{
      	position: absolute;
   	 	left: 15%;
    	top: 2%;
    	font-family: 'CookieRunOTF-Bold';
    	font-size: 2em;
      }
      .twogame-wrap h2{
      	position: absolute;
   	 	left: 2%;
    	top: 2%;
    	font-family: 'CookieRunOTF-Bold';
    	font-size: 2em;
      }

      .time {
          width: 100%;
          height: 11px;
          background-color: #ffa500;
          border-radius: 5px;
          position: absolute;
          top: 15%;
      }

      .question {
         color: black;
         font-size: 5em;
         width: 90%;
        
         text-align: center;
         position: absolute;
    	 top: 32%;
    	 transform: translate(-50%,-50%);
    	 left: 50%;
    	 font-family: 'CookieRunOTF-Bold';
      }

      .list-choice {
          border: 5px solid black;
          border-radius: 12px;
          width: 92px;
    	  margin: 0px 10px 0px 10px;
    	  padding: 0px 0px 0px 14px;
          font-family: 'CookieRunOTF-Bold';
      	  cursor: pointer;
      }

      .submit {
      	  position: absolute;
    	  transform: translate(-50%,-50%);
    	  left: 50%;
          width: 29%;
          background-color: #ffa500;
          border: 5px solid black;
          color: #fff;
          border-radius: 10px;
          padding: 10px;
          outline: none;
          font-size: 2em;
          position: absolute;
          bottom: 0%;
          font-family: 'CookieRunOTF-Bold';
     	  cursor: pointer;
      }

      .list-choice span {
          margin-left: 10px;
          font-size: 2em;
      }

      .let-red {
          color: #D91E18;
      }
      .list-of-choices{
      	display: inline-flex;
    	position: absolute;
    	transform: translate(-50%, -50%);
    	top: 56%;
   	 	left: 50%;
      }
    
      .last{
      	position: absolute;
    	transform: translate(-50%,-50%);
    	top: 40%;
    	left: 50%;
    	font-size: 4em;
    	font-family: 'CookieRunOTF-Bold';
    	width: 100%;
    	text-align: center;
      }







/* 게임6666 페이지 --- 그림그림 */
#pagethree{
	position: absolute;
	background-image: url(./game6/background-three.png);
    background-size: cover;
}
#gamethree-wrap{
	position: absolute;
    transform: translate(-50%, -50%);
    top: 51%;
    left: 50%;
    width: 42%;
}
.gamethree-box{
	position: relative;
    width: 100%;
}
.gamethree-box-in{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.gamethree-ju{
	position: absolute;
    bottom: 10%;
    left: 5%;
    width: 10%;
}
.gamethree-ju-n{
	position: absolute;
    bottom: 10%;
    left: 5%;
    width: 10%;
    visibility: hidden;
}
.gamethree-text{
	position: absolute;
    bottom: 40%;
    left: 7.5%;
    width: 60px;
    visibility: visible;
    cursor: pointer;
}
.gamethree-textes{
	position: absolute;
    bottom: 40%;
    left: 3.5%;
    width: 150px;
    visibility: hidden;
    cursor: pointer;
}

/*게임삼6666666 게임 카드으으으플러스 코드*/


#game6wrap{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 400px;
} 

.width500px{
  margin-top: 40px;
          display: contents;
        }
      
        #menuTable{ 
      font-size: 1.3em; 
        }

        .alignRight{ 
          color: white;
          position: absolute;
          padding: 13px;
          font-size: 1em;
          font-weight: bold;
          visibility: hidden;
          font-family: 'CookieRunOTF-Bold';
            
        }
        #startBtn{
        	box-shadow: 5px 8px 15px 2px grey;
        border: 5px solid white;
    	color: #24aa90;
    	font-size: 3.5em;
   		margin-bottom: 10px;
    	border-radius: 10px;
    	position: absolute;
   	 	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	padding: 2px 15px 2px 15px;
    	cursor: pointer;
    	font-family: 'CookieRunOTF-Bold';
        }
        #cardTable{
          border-collapse: collapse;
            margin-top: 2px;
            margin-bottom: 40px;
        }
        #cardTable td{
          border: 5px solid white; 
          width: 95px; 
            height: 95px; 
          text-align: center;
        }
        #cardTable td img{
          display: block;
          max-width: 100%;
          max-height: 100%;
            top:50%;
            
        }
        #cardTable td span{
          font-size: 25pt; 
          font-weight: bold; 
          color: white; 
          display: none;
          font-family: 'CookieRunOTF-Bold';
        }
        #countDown{
          /*background-color: white;*/
          /* border: 5px solid white;  */
          color: white; 
          font-size: 1.5em; 
          font-weight: bold;
          padding: 5px;
            border-radius: 10px;
            visibility: hidden;
            text-align: right;
            font-family: 'CookieRunOTF-Bold';
        }
        #info{
            width: 100%; 
          height: 100%; 
          
          color: white; 
          padding-top: 100px;
            padding-bottom: 100px;
            }


              /*다시하기*/
          #ag{
          	position: absolute;
   			top: 80%;
    		left: 50%;
    		transform: translate(-50%, 0%);
            border: none; 
          	color: white; 
         z-index: 1;
         	width: 118px;
          	padding: 7px; 
          	font-size: 22px;  
            border-radius: 10px;
            border:5px solid white;
            display: none;
            font-family: 'CookieRunOTF-Bold';
          }
         .nextstage-game6{
            display: block;
           position: absolute;
          transform: translate(-50%, -50%);
          top: 80%;
          left: 50%;
          z-index: 1;
          width: 143px;
          padding: 7px;
          font-size: 22px;
          border-radius: 10px;
          border: 5px solid white;
          margin-top: 15px;
          font-family: 'CookieRunOTF-Bold';
          }

